@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
body {
  font-family: "Source Sans Pro";
}
.text {
  font-size: 12px;
  line-height: 15px;
  color: #999999;
}
.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.page {
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-icon {
  cursor: pointer;
  color: #587ab0;
}
.settings-icon:hover {
  color: #313e78;
}
.colors-card {
  background: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 311px;
  box-shadow: 0px 0px 0px 1px rgba(15, 15, 15, 0.05), 0px 2px 8px rgba(15, 15, 15, 0.15);
  border-radius: 6px;
  padding: 12px;
}
.colors-card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  align-items: center;
}
.colors-card__icons {
  display: flex;
  margin-right: -4px;
  width: 56px;
  justify-content: space-between;
}
.colors-card__icon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colors-card__icon svg {
  cursor: pointer;
}
.colors-card__description {
  margin-top: -10px;
  margin-bottom: -6px;
}
.colors-card__divider {
  margin-bottom: 16px;
  margin-top: 18px;
  width: 100%;
  height: 1px;
  background: #eaeaea;
}
.colors-card__list-title {
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
}
.colors-card__item {
  margin-bottom: 13px;
}
.colors-card__item:last-of-type {
  margin-bottom: 0;
}
.colors-card__back-icon {
  margin-right: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.colors-card__title-wrapper {
  display: flex;
  align-items: center;
}
.color-item {
  display: flex;
  padding-right: 7.38px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.color-item:hover {
  outline: #eaeaea solid 1px;
  border-radius: 6px;
  outline-offset: 6px;
}
.color-item__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 2px;
}
.color-item__text-wrapper {
  flex-grow: 1;
}
.color-item__thumbnail {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border: 1px solid #cccccc;
  margin-right: 6px;
}
.color-item__thumbnail-part {
  width: 15px;
  height: 15px;
}
.color-item__icon {
  display: none;
}
.color-item:hover .color-item__icon {
  display: block;
}
.color-picker-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 311px;
}
.color-picker-card__inner {
  position: absolute;
  right: 12px;
  top: -38px;
  width: 200px;
  height: 312px;
  padding-top: 8px;
}
.color-picker-card__body {
  margin-top: -9px;
}
.slider {
  height: 12px;
  border: 0.2px solid rgba(0, 0, 0, 0.2);
  border-radius: 22px;
  width: 100%;
  z-index: 1;
  background-color: #ced4da;
  background-image: linear-gradient(to right, hsl(0, 100%, 50%), hsl(60, 100%, 50%), hsl(120, 100%, 50%), hsl(180, 100%, 50%), hsl(240, 100%, 50%), hsl(300, 100%, 50%), hsl(0, 100%, 50%));
}
.slider__thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  margin-left: -2px;
  width: calc(100% - 22px);
  z-index: 2;
  margin-top: 5.3px;
}
.slider__thumb::-webkit-slider-thumb,
.slider__thumb::-moz-range-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  cursor: pointer;
  border: none;
  pointer-events: all;
  background: transparent;
  background-image: url("icons/thumb.svg");
}
.color-picker__caption {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
}
.color-picker__caption-group {
  display: flex;
}
.color-picker__label {
  font-size: 14px;
  line-height: 18px;
  color: #8991a9;
  margin-top: 0.5px;
}
.color-picker__text {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  padding-bottom: 2px;
  border-bottom: 1px solid #c4c4c4;
}
.color-picker__hex {
  margin-left: 2px;
}
.color-picker__rgb {
  display: flex;
  margin-left: 8px;
  justify-content: space-between;
  width: 80px;
  flex-shrink: 0;
}
.color-picker__rgb-part {
  width: 24px;
  text-align: center;
}
.color-picker__saturation {
  width: 200px;
  height: 200px;
  margin-left: -12px;
  margin-bottom: 14px;
  position: relative;
  background-image: linear-gradient(transparent, black), linear-gradient(to right, white, transparent);
  cursor: pointer;
}
.color-picker__cursor {
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: border-color 0.2s;
}
