@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("fonts/SourceSansPro/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
body {
  font-family: "Source Sans Pro";
}
.text {
  font-size: 12px;
  line-height: 15px;
  color: #999999;
}
.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.page {
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-icon {
  cursor: pointer;
  color: #587ab0;
}
.settings-icon:hover {
  color: #313e78;
}
