.page {
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings-icon {
  cursor: pointer;
  color: #587ab0;
}
.settings-icon:hover {
  color: #313e78;
}
